* {
  font-family: "JetBrainMono Nerd Font Mono";
  font-size: 13px;
  font-weight: 600;
  background: rgba(40, 39, 39, 0.3);
}

/*window#waybar {
  border: solid 2px #658594;
  border-radius: 16px;
  color: #bdae93;
}*/

/* Now REMOVE borders from all nested elements */
#waybar, #waybar > box { border: 1px solid #658594; border-radius: 10px }

.modules-left,
.modules-right,
.modules-center {
  border-radius: 6px;
  /* background: #282727; */
  background: none;
  margin: 0.5px 2px 0px 2px;
  padding: 5px 5;
}
tooltip {
  color: #83a598;
  background-color: #32302f;
  text-shadow: none;
} 
tooltip * {
  color: #83a598;
  text-shadow: none;
}
.modules-center {
    padding: 2px 20px 2px 20px;
    background: none;
    /* margin: 2px 2px 2px 2px; */
}
#custom-sep {
  color: #7c6f64;
  margin: 0px 3;
}
#workspaces,
#clock,
#custom-powermenu,
#pulseaudio,
#tray {
    background: none;
}
#workspaces {
  border-radius: 5px;
  border: solid 0.3px #e98a00;
}
#workspaces button {
  color: #b98d7b;
  background: none;
  padding: 0;
}
#workspaces button.active {
  color: #658594;
}
#clock {
  font-weight: 600;
  color: #bdae93;
  background: none;
}
#pulseaudio {
  color: #7BA696;
  background: none;
}
#custom-arch {
    color: #008080;
    background: none;
}
